.location-filter {
  border-bottom: 1px solid var(--light-grey-200);
  margin-block: 0;
  font-family: var(--f-family);
}

.location-filter:hover,
.location-filter.active {
  color: var(--green);
}

.location-filter-buttons {
  display: flex;
  gap: 8%;
  background-color: var(--white);
  padding-left: 19px;
  font-family: var(--f-family);
}

.location-filter-buttons button {
  font-family: var(--f-family);
  width: 100px;
  display: flex;
  justify-content: flex-start;
  padding-right: 15px;
  border: none;
  padding-block: 14px;
  background-color: transparent;
  transition: all 0.3s ease;
  color: var(--light-grey);
  font-weight: var(--fw-bold);
  font-size: 16px;
}

.location-filter-buttons button:hover,
.location-filter-buttons button.active {
  color: var(--green);
  border-bottom: 1px solid var(--green);
}
