@import 'normalize.css';
@import './reset.css';
@import './rootstyles.css';
@import './fonts.css';
@import '../components/LocationFilter/LocationFilter.css';
@import '../components/ISPFilter/ISPFilter.css';

.layout {
  background-color: var(--off-white);
  padding: 2rem;
}

.container {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border: 1px solid var(--light-grey-200);
  border-radius: 0.5rem;
}

.filter-label {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-weight: var(--fw-semibold);
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 0.625rem;
  padding-left: 1.1875rem;
}
